MDS_USER=fabiano.lima
MDS_PASSWORD=123
LIBREOFFICE_PATH=C:\Program Files\LibreOffice\program\soffice.exe
POPPLER_PATH=C:\poppler-25.07.0\Library\bin
TESSERACT_CMD=C:\Program Files\Tesseract-OCR\tesseract.exe

ADMIN_USERNAME=admin
ADMIN_PASSWORD=change_this_password
