fastapi
uvicorn
sqlalchemy
pydantic
pydantic-settings
APScheduler
passlib
bcrypt
python-dotenv
python-jose
requests
python-multipart
jinja2
psycopg2-binary
supabase
google-genai
google-api-core
pytz
reportlab
openpyxl